body { background: #121212; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; font-family: 'Courier New', monospace; }

.mueble-radio {
    background: #4e342e;
    padding: 30px;
    border-radius: 10px;
    border: 8px solid #2e1b15;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    width: 450px;
}

.panel-frontal { background: #1a1a1a; padding: 20px; border-radius: 5px; }

.seccion-display {
    background: #000;
    padding: 10px;
    border: 2px solid #444;
    text-align: center;
    margin-bottom: 20px;
}

.visor-digital {
    font-size: 3.5rem;
    color: #ff6600;
    width: 180px; /* Ancho fijo para evitar bugs de movimiento */
    margin: 0 auto;
}

.seccion-dial { position: relative; margin-bottom: 25px; }
.img-dial { width: 100%; opacity: 0.8; }

#aguja-roja {
    position: absolute;
    top: 19.5%;
    left: 45.4%;
    width: 3px;
    height: 14%;
    background: #ff0000;
    box-shadow: 0 0 10px #f00;
}

.seccion-controles { display: flex; justify-content: space-around; align-items: center; }

/* PALANCA DE PODER */
.toggle-switch { cursor: pointer; text-align: center; }
.base-metal { width: 40px; height: 60px; background: #333; display: flex; justify-content: center; align-items: center; margin-bottom: 5px; border-radius: 4px; }
.palanca-fisica { width: 10px; height: 30px; background: #777; border-radius: 5px; transition: 0.2s; }
.on .palanca-fisica { transform: translateY(-10px); background: #ff0000; box-shadow: 0 0 10px #f00; }

/* FADER VERTICAL */
.fader-vertical { height: 150px; display: flex; align-items: center; }
#perilla {
    writing-mode: bt-lr; /* Soporte para navegadores antiguos */
    appearance: slider-vertical;
    width: 20px;
    height: 100%;
}
